.usercon{
    display: flex;
    flex-direction: row;
}
.LandingPage{
    
    width: 54rem;
}

.usercon{
    /* width: 30rem; */
}

.usercontainer{
    /* margin-top: 2rem; */
    margin-left: 20rem;

}
.userPic{
    width: 3vw;
    object-fit: cover;
    border-radius: 50rem;
    border: 2px solid rgb(248, 154, 12) ;
    cursor: pointer;
    border-top-color: rgb(236, 69, 17);
    border-right-color: rgb(216, 40, 40);
    
}
.DetailPic{
    border: 1px solid gray;
    height: 25rem;
    object-fit: cover;
    width: 30rem;
}
.sign-text{
    border-bottom: 1px solid gray;
    width: 30rem;
}

.userNavbar{
    width: 30rem;
    height: 5rem;
    background-color: black;
    margin-left: 20rem;
    margin-top: 2rem;
}

.user-Picture{
    width: 4.7vw;
    object-fit: cover;
    border-radius: 50rem;
    border: 2px solid rgb(248, 154, 12) ;
    cursor: pointer;
    border-top-color: rgb(236, 69, 17);
    border-right-color: rgb(216, 40, 40);

}
.nav-user{
    width: 30rem;
    overflow-x: scroll;
    
}
.nav-user::-webkit-scrollbar {
    display: none;
}
.pro{
    margin-top: 2rem;
}
.picture-container
{
    display: flex;
    
}
.proinfo{
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
}
.suggestion{
    margin-top: 2rem;
    margin-left: 0.5rem;
    position: sticky;
}
.suggestPerson{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.follow{
    margin-left: 7rem;
    float: right;
    color: blue;
    font-size: 0.8rem;
    cursor: pointer;
}

.switch{
    color: blue;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 7rem;
    margin-top: 1.5rem;
}

.suggestionHeader{
    display: flex;
    justify-content: space-between;
    color: gray;
}