*{
    margin: 0px;
    padding: 0px;
}
.navbar-container{
    border-right: 0.1em solid gray;
    background-color: black;
    /* width: 100vw; */
    /* height: 100vh; */
    color: white;  
    float: left; 
    width: 18vw;
    list-style: none;
    text-decoration: none;
}
.navbar-content{
    cursor: pointer;
}

.navbar-detail{
    cursor: pointer;
    font-family: 'Dancing Script', cursive; 
    width: 17vw;
    padding-left: 0.1rem;
    margin-top: 1rem;
 
}
.navbar-heading{
    font-size: 2.3rem;
    text-align: center;
}
.nabar-info ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
    padding: 1rem;
    list-style: none;
}

.nabar-info ul li:hover{
   border-radius: 10rem;
   background-color: rgb(20, 20, 20);

}
li{
    text-decoration: none;
    list-style: none;
}
i{
    margin-right: 2rem;
    font-size: 1.2rem;
    cursor: pointer;

}

.dropli{
    width: 12.4rem;

}

.mid{
    top: 0;
    margin-left: 25rem;
}
.homePage{
    color: white;
    text-decoration: none;
    list-style: none;
}
Link{
    text-decoration: none;
    list-style: none;
}
.searchImg{
    display: flex;
    align-items: center;
}
.searchUserImg{
    width: 3rem;
    border-radius: 50%;

}
.searchInfo{
    display: flex;
    flex-direction: column;
}

.searchValues{
    margin-top: 4rem;
}
.input{
    width: 24rem;
  
}
.search-conatainer{
    margin-top: 3rem;
    border-top: 0.1rem solid gray;
}

.profile{
    background-image: url("../images/instaLogin.png");
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-size: cover;
}